In [1]:
# import necessary libraries
import os
import pandas as pd
import numpy as np

# ignore DtypeWarning warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
def filter_dataframe(df, kinase_name):
    df_new = df[df['KINASE_psp'] == kinase_name]
    filtered_df = df_new[df_new['SUB_MOD_RSD_psp'].values == df_new['Phosphosite_johnson'].values]
    return filtered_df

In [3]:
def clean_dataframe(df, data):
    df_clean = pd.DataFrame()
    for kinase in df['KINASE_psp'].unique():
        filtered_df = filter_dataframe(df, kinase)
        df_clean = pd.concat([df_clean, filtered_df])

    assert sum(df_clean['SUB_MOD_RSD_psp'].values == df_clean['Phosphosite_johnson'].values) == len(df_clean) # check if all phosphosites are the same

    # check if 'SITE_+/-7_AA_psp and 'SITE_+/-7_AA_johnson' are the same , otherwise print that they all are not the same
    # make SITE_+/-7_AA_johnson column all caps 
    df_clean['SITE_+/-7_AA_psp'] = df_clean['SITE_+/-7_AA_psp'].str.upper()
    if not sum(df_clean['SITE_+/-7_AA_psp'].values == df_clean['SITE_+/-7_AA_johnson'].values) == len(df_clean): 
        print(f" For {data} dataset , out of {len(df_clean)} rows, {sum(df_clean['SITE_+/-7_AA_psp'].values == df_clean['SITE_+/-7_AA_johnson'].values)} are the same")
    else:
        print(f"For {data} dataset, all SITE_+/-7_AA_psp and SITE_+/-7_AA_johnson are the same")
    
    return df_clean

In [4]:
data_list = ['ranked_1.csv', 'ranked_2.csv', 'ranked_3.csv']

In [5]:
for data in data_list:
    df = pd.read_csv('../data/merged_kinase_' + data)
    df_clean = clean_dataframe(df, data)
    df_clean.to_csv('../data/cleaned_' + data, index=False)

For ranked_1.csv dataset, all SITE_+/-7_AA_psp and SITE_+/-7_AA_johnson are the same
 For ranked_2.csv dataset , out of 322 rows, 321 are the same
 For ranked_3.csv dataset , out of 271 rows, 270 are the same

In [7]:
pd.read_csv('../data/cleaned_ranked_1.csv')

,Unnamed: 0,KINASE_psp,SUBSTRATE_psp,KIN_ORGANISM_psp,SUB_ORGANISM_psp,SITE_+/-7_AA_psp,SUB_MOD_RSD_psp,KIN_ACC_ID_psp,SUB_GENE_ID_psp,SUB_ACC_ID_psp,SITE_GRP_ID_psp,Uniprot Primary Accession_johnson,Protein_johnson,Phosphosite_johnson,SITE_+/-7_AA_johnson,ranked_1_johnson
0,0,HRI,eIF2-alpha,human,human,MILLSELSRRRIRSI,S52,Q9BQI3,1965.0,P05198,447635.0,P05198,IF2A,S52,MILLSELSRRRIRSI,HRI
1,22,PKCD,p47phox,human,human,GAPPRRSSIRNAHSI,S304,Q05655,653361.0,P14598,449406.0,P14598,NCF1,S304,GAPPRRSSIRNAHSI,PKCD
2,282,CAMK2A,CACNA1H,human,human,TPLRRAESLDPRPLR,S1198,Q9UQM7,8912.0,O95180,22648004.0,O95180,CAC1H,S1198,TPLRRAESLDPRPLR,CAMK2A
3,304,CK2A1,PTEN,human,human,RYSDTTDSDPENEPF,S385,P68400,5728.0,P60484,448650.0,P60484,PTEN,S385,RYSDTTDSDPENEPF,CK2A1
4,316,CK2A1,caveolin-2,human,human,DPEKFADSDQDRDPH,S36,P68400,858.0,P51636,469561.0,P51636,CAV2,S36,DPEKFADSDQDRDPH,CK2A1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,13339,PLK3,HSP90B,human,human,LEGDEDASRMEEVD_,S718,Q9H4B4,3326.0,P08238,3177650.0,P08238,HS90B,S718,LEGDEDASRMEEVD_,PLK3
377,13354,PLK3,CASP8,human,human,DAGALTTTFEELHFE,T273,Q9H4B4,841.0,Q14790,56640300.0,Q14790,CASP8,T273,DAGALTTTFEELHFE,PLK3
378,13416,DAPK3,MDM2,human,human,RQRKRHKSDSISLSF,S186,O43293,4193.0,Q00987,448131.0,Q00987,MDM2,S186,RQRKRHKSDSISLSF,DAPK3
379,13418,DAPK3,p21Cip1,human,human,QGRKRRQTSMTDFYH,T145,O43293,1026.0,P38936,447837.0,P38936,CDN1A,T145,QGRKRRQTSMTDFYH,DAPK3
380,14174,RSK2,NFkB-p65,human,human,SMQLRRPSDRELSEP,S276,P51812,5970.0,Q04206,447798.0,Q04206,TF65,S276,SMQLRRPSDRELSEP,RSK2

In [6]:
df = pd.read_csv('../data/cleaned_ranked_1.csv')

In [7]:
df

,Unnamed: 0,KINASE_psp,SUBSTRATE_psp,KIN_ORGANISM_psp,SUB_ORGANISM_psp,SITE_+/-7_AA_psp,SUB_MOD_RSD_psp,KIN_ACC_ID_psp,SUB_GENE_ID_psp,SUB_ACC_ID_psp,SITE_GRP_ID_psp,Uniprot Primary Accession_johnson,Protein_johnson,Phosphosite_johnson,SITE_+/-7_AA_johnson,ranked_1_johnson
0,0,HRI,eIF2-alpha,human,human,MILLSELSRRRIRSI,S52,Q9BQI3,1965.0,P05198,447635.0,P05198,IF2A,S52,MILLSELSRRRIRSI,HRI
1,22,PKCD,p47phox,human,human,GAPPRRSSIRNAHSI,S304,Q05655,653361.0,P14598,449406.0,P14598,NCF1,S304,GAPPRRSSIRNAHSI,PKCD
2,282,CAMK2A,CACNA1H,human,human,TPLRRAESLDPRPLR,S1198,Q9UQM7,8912.0,O95180,22648004.0,O95180,CAC1H,S1198,TPLRRAESLDPRPLR,CAMK2A
3,304,CK2A1,PTEN,human,human,RYSDTTDSDPENEPF,S385,P68400,5728.0,P60484,448650.0,P60484,PTEN,S385,RYSDTTDSDPENEPF,CK2A1
4,316,CK2A1,caveolin-2,human,human,DPEKFADSDQDRDPH,S36,P68400,858.0,P51636,469561.0,P51636,CAV2,S36,DPEKFADSDQDRDPH,CK2A1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,13339,PLK3,HSP90B,human,human,LEGDEDASRMEEVD_,S718,Q9H4B4,3326.0,P08238,3177650.0,P08238,HS90B,S718,LEGDEDASRMEEVD_,PLK3
377,13354,PLK3,CASP8,human,human,DAGALTTTFEELHFE,T273,Q9H4B4,841.0,Q14790,56640300.0,Q14790,CASP8,T273,DAGALTTTFEELHFE,PLK3
378,13416,DAPK3,MDM2,human,human,RQRKRHKSDSISLSF,S186,O43293,4193.0,Q00987,448131.0,Q00987,MDM2,S186,RQRKRHKSDSISLSF,DAPK3
379,13418,DAPK3,p21Cip1,human,human,QGRKRRQTSMTDFYH,T145,O43293,1026.0,P38936,447837.0,P38936,CDN1A,T145,QGRKRRQTSMTDFYH,DAPK3
380,14174,RSK2,NFkB-p65,human,human,SMQLRRPSDRELSEP,S276,P51812,5970.0,Q04206,447798.0,Q04206,TF65,S276,SMQLRRPSDRELSEP,RSK2

In [16]:
df_freq = df[['KINASE_psp', 'KIN_ACC_ID_psp', 'SUBSTRATE_psp']]
df_freq

    KINASE_psp KIN_ACC_ID_psp SUBSTRATE_psp
0          HRI         Q9BQI3    eIF2-alpha
1         PKCD         Q05655       p47phox
2       CAMK2A         Q9UQM7       CACNA1H
3        CK2A1         P68400          PTEN
4        CK2A1         P68400    caveolin-2
..         ...            ...           ...
376       PLK3         Q9H4B4        HSP90B
377       PLK3         Q9H4B4         CASP8
378      DAPK3         O43293          MDM2
379      DAPK3         O43293       p21Cip1
380       RSK2         P51812      NFkB-p65

[381 rows x 3 columns]

In [23]:
df_freq.groupby(['KINASE_psp', 'KIN_ACC_ID_psp']).size().reset_index(name='Frequency_SUBSTRATE_psp').sort_values(by='Frequency_SUBSTRATE_psp', ascending=False).to_csv('../data/frequency_substrate_ranked_1.csv', index=False)

In [19]:
grouped = df_freq.groupby(['KINASE_psp', 'KIN_ACC_ID_psp'])

In [22]:

# groupby first two column and then apply lambda function to get the unique substrates
grouped['SUBSTRATE_psp'].unique().reset_index(name='Unique_SUBSTRATE_psp')

,KINASE_psp,KIN_ACC_ID_psp,Unique_SUBSTRATE_psp
0,AAK1,Q2M2I8,[AP2M1]
1,AMPKA1,Q13131,"[HDAC5, TSC2, HSL, TET2]"
2,AMPKA2,P54646,[TBC1D1]
3,ASK1,Q99683,[ASK1]
4,ATM,Q13315,"[FANCI, 53BP1, KHSRP, Artemis, FANCD2, RAP80, ..."
...,...,...,...
78,STLK3,Q9UEW8,"[NKCC1, KCC1, KCC4, KCC3]"
79,TAK1,O43318,"[FLNA, TAK1, POLD2, GAPVD1, LDH-A]"
80,TBK1,Q9UHD2,"[SQSTM1, IRF3, mTOR]"
81,TTK,P33981,"[USP16, TTK, MAD1L1, Borealin]"
82,ULK1,O75385,"[ATG9A, FBPase, MCR, beclin 1, ENO1, RB1CC1]"