In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/Kinase_Substrate_Dataset.txt', delimiter='\t')

In [3]:
df

,GENE,KINASE,KIN_ACC_ID,KIN_ORGANISM,SUBSTRATE,SUB_GENE_ID,SUB_ACC_ID,SUB_GENE,SUB_ORGANISM,SUB_MOD_RSD,SITE_GRP_ID,SITE_+/-7_AA,DOMAIN,IN_VIVO_RXN,IN_VITRO_RXN,CST_CAT#
0,Dyrk2,DYRK2,Q5U4C9,mouse,NDEL1,83431.0,Q9ERR1,Ndel1,mouse,S336,1869686801,LGSsRPSsAPGMLPL,NaN,,X,NaN
1,Pak2,PAK2,Q64303,rat,MEK1,170851.0,Q01986,Map2k1,rat,S298,448284,RtPGRPLsSYGMDSR,Pkinase,,X,9128; 98195
2,Pak2,PAK2,Q64303,rat,PRKD1,85421.0,Q9WTQ1,Prkd1,rat,S203,449896,GVRRRRLsNVsLTGL,NaN,X,,NaN
3,Pak2,PAK2,Q64303,rat,prolactin,24683.0,P01237,Prl,rat,S206,451732,IRCLRRDsHKVDNYL,Hormone_1,,X,NaN
4,Pak2,PAK2,Q64303,rat,prolactin,5617.0,P01236,PRL,human,S207,451732,LHCLRRDsHKIDNYL,Hormone_1,,X,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22438,ULK2,ULK2,Q8IYT8,human,Raptor,57521.0,Q8N122,RPTOR,human,S855,3205935,QRVLDtssLtQsAPA,NaN,X,,NaN
22439,ULK2,ULK2,Q8IYT8,human,Raptor,57521.0,Q8N122,RPTOR,human,S859,2024885,DtssLtQsAPAsPtN,NaN,X,,NaN
22440,ULK2,ULK2,Q8IYT8,human,SEC16A,9919.0,O15027,SEC16A,human,S846,55578720,LAQPINFsVSLSNSH,NaN,X,,NaN
22441,ULK2,ULK2,Q8IYT8,human,PIK3C3,5289.0,Q8NEB9,PIK3C3,human,S249,35483209,ESsPILTsFELVKVP,NaN,X,,13857
22442,ULK2,ULK2,Q8IYT8,human,DENND3,22898.0,A2RUS2,DENND3,human,S472,7997148,THRRMVVsMPNLQDI,NaN,,X,NaN

In [4]:
id_columns = [x for x in df.columns if 'ID' in x]

In [5]:
column_needed = ['KINASE', 'SUBSTRATE' , 'KIN_ORGANISM', 'SUB_ORGANISM', 'SITE_+/-7_AA']

In [6]:
df.columns

Index(['GENE', 'KINASE', 'KIN_ACC_ID', 'KIN_ORGANISM', 'SUBSTRATE',
       'SUB_GENE_ID', 'SUB_ACC_ID', 'SUB_GENE', 'SUB_ORGANISM', 'SUB_MOD_RSD',
       'SITE_GRP_ID', 'SITE_+/-7_AA', 'DOMAIN', 'IN_VIVO_RXN', 'IN_VITRO_RXN',
       'CST_CAT#'],
      dtype='object')

In [7]:
data = df[column_needed + id_columns]

In [8]:
data

,KINASE,SUBSTRATE,KIN_ORGANISM,SUB_ORGANISM,SITE_+/-7_AA,KIN_ACC_ID,SUB_GENE_ID,SUB_ACC_ID,SITE_GRP_ID
0,DYRK2,NDEL1,mouse,mouse,LGSsRPSsAPGMLPL,Q5U4C9,83431.0,Q9ERR1,1869686801
1,PAK2,MEK1,rat,rat,RtPGRPLsSYGMDSR,Q64303,170851.0,Q01986,448284
2,PAK2,PRKD1,rat,rat,GVRRRRLsNVsLTGL,Q64303,85421.0,Q9WTQ1,449896
3,PAK2,prolactin,rat,rat,IRCLRRDsHKVDNYL,Q64303,24683.0,P01237,451732
4,PAK2,prolactin,rat,human,LHCLRRDsHKIDNYL,Q64303,5617.0,P01236,451732
...,...,...,...,...,...,...,...,...,...
22438,ULK2,Raptor,human,human,QRVLDtssLtQsAPA,Q8IYT8,57521.0,Q8N122,3205935
22439,ULK2,Raptor,human,human,DtssLtQsAPAsPtN,Q8IYT8,57521.0,Q8N122,2024885
22440,ULK2,SEC16A,human,human,LAQPINFsVSLSNSH,Q8IYT8,9919.0,O15027,55578720
22441,ULK2,PIK3C3,human,human,ESsPILTsFELVKVP,Q8IYT8,5289.0,Q8NEB9,35483209
22442,ULK2,DENND3,human,human,THRRMVVsMPNLQDI,Q8IYT8,22898.0,A2RUS2,7997148

In [9]:
data.groupby(['KINASE', 'SUBSTRATE', 'SITE_+/-7_AA'])['KIN_ORGANISM'].count().reset_index()

       KINASE SUBSTRATE     SITE_+/-7_AA  KIN_ORGANISM
0        AAK1     AP2M1  SQITsQVtGQIGWRR             1
1        AAK1     AP2M1  SQItsQVtGQIGWRR             1
2        AAK1      NUMB  LRVVDEKtKDLIVDQ             1
3       ADCK5      SOX9  YQPRRRKsVKNGQAE             1
4       ALDOA     ALDOA  ESLFISNhAY_____             1
...       ...       ...              ...           ...
20783  smMLCK    smMLCK  PHVKPYFtKtILDME             1
20784  smMLCK    smMLCK  RAIGRLSsMAMISGM             1
20785  smMLCK    smMLCK  VKPYFtKtILDMEVV             1
20786  smMLCK    smMLCK  sGRKAsGssPTsPIN             1
20787    yopH       Lck  RLIEDNEytAREGAk             1

[20788 rows x 4 columns]

In [10]:
data.groupby(['KINASE', 'SUBSTRATE', 'SITE_+/-7_AA'])['KIN_ORGANISM'].count().reset_index()['KIN_ORGANISM'].value_counts()

1    19349
2     1272
3      134
4       22
5        8
6        2
8        1
Name: KIN_ORGANISM, dtype: int64

In [11]:
# take the index of the rows where the count is 1
def get_rows_with_count(count_value =1):
    idx = data.groupby(['KINASE', 'SUBSTRATE', 'SITE_+/-7_AA'])['KIN_ORGANISM'].transform('count') == count_value
    return idx

In [ ]:
idx_1 = get_rows_with_count(1)
idx_2 = get_rows_with_count(2)
idx_3 = get_rows_with_count(3)
idx_4 = get_rows_with_count(4)
idx_5 = get_rows_with_count(5)
idx_6 = get_rows_with_count(6)
idx_7 = get_rows_with_count(7)
idx_8 = get_rows_with_count(8)

In [12]:
data.groupby(['KINASE', 'SUBSTRATE', 'SITE_+/-7_AA'])['KIN_ORGANISM'].first().reset_index()

       KINASE SUBSTRATE     SITE_+/-7_AA KIN_ORGANISM
0        AAK1     AP2M1  SQITsQVtGQIGWRR        human
1        AAK1     AP2M1  SQItsQVtGQIGWRR        human
2        AAK1      NUMB  LRVVDEKtKDLIVDQ        human
3       ADCK5      SOX9  YQPRRRKsVKNGQAE        human
4       ALDOA     ALDOA  ESLFISNhAY_____       rabbit
...       ...       ...              ...          ...
20783  smMLCK    smMLCK  PHVKPYFtKtILDME      chicken
20784  smMLCK    smMLCK  RAIGRLSsMAMISGM      chicken
20785  smMLCK    smMLCK  VKPYFtKtILDMEVV      chicken
20786  smMLCK    smMLCK  sGRKAsGssPTsPIN      chicken
20787    yopH       Lck  RLIEDNEytAREGAk     bacteria

[20788 rows x 4 columns]

# Only keep humnan

In [13]:
df

,GENE,KINASE,KIN_ACC_ID,KIN_ORGANISM,SUBSTRATE,SUB_GENE_ID,SUB_ACC_ID,SUB_GENE,SUB_ORGANISM,SUB_MOD_RSD,SITE_GRP_ID,SITE_+/-7_AA,DOMAIN,IN_VIVO_RXN,IN_VITRO_RXN,CST_CAT#
0,Dyrk2,DYRK2,Q5U4C9,mouse,NDEL1,83431.0,Q9ERR1,Ndel1,mouse,S336,1869686801,LGSsRPSsAPGMLPL,NaN,,X,NaN
1,Pak2,PAK2,Q64303,rat,MEK1,170851.0,Q01986,Map2k1,rat,S298,448284,RtPGRPLsSYGMDSR,Pkinase,,X,9128; 98195
2,Pak2,PAK2,Q64303,rat,PRKD1,85421.0,Q9WTQ1,Prkd1,rat,S203,449896,GVRRRRLsNVsLTGL,NaN,X,,NaN
3,Pak2,PAK2,Q64303,rat,prolactin,24683.0,P01237,Prl,rat,S206,451732,IRCLRRDsHKVDNYL,Hormone_1,,X,NaN
4,Pak2,PAK2,Q64303,rat,prolactin,5617.0,P01236,PRL,human,S207,451732,LHCLRRDsHKIDNYL,Hormone_1,,X,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22438,ULK2,ULK2,Q8IYT8,human,Raptor,57521.0,Q8N122,RPTOR,human,S855,3205935,QRVLDtssLtQsAPA,NaN,X,,NaN
22439,ULK2,ULK2,Q8IYT8,human,Raptor,57521.0,Q8N122,RPTOR,human,S859,2024885,DtssLtQsAPAsPtN,NaN,X,,NaN
22440,ULK2,ULK2,Q8IYT8,human,SEC16A,9919.0,O15027,SEC16A,human,S846,55578720,LAQPINFsVSLSNSH,NaN,X,,NaN
22441,ULK2,ULK2,Q8IYT8,human,PIK3C3,5289.0,Q8NEB9,PIK3C3,human,S249,35483209,ESsPILTsFELVKVP,NaN,X,,13857
22442,ULK2,ULK2,Q8IYT8,human,DENND3,22898.0,A2RUS2,DENND3,human,S472,7997148,THRRMVVsMPNLQDI,NaN,,X,NaN

In [15]:
df_humnan = df[df['KIN_ORGANISM'] == 'human']
df_humnan

,GENE,KINASE,KIN_ACC_ID,KIN_ORGANISM,SUBSTRATE,SUB_GENE_ID,SUB_ACC_ID,SUB_GENE,SUB_ORGANISM,SUB_MOD_RSD,SITE_GRP_ID,SITE_+/-7_AA,DOMAIN,IN_VIVO_RXN,IN_VITRO_RXN,CST_CAT#
5,EIF2AK1,HRI,Q9BQI3,human,eIF2-alpha,54318.0,P68101,Eif2s1,rat,S52,447635,MILLSELsRRRIRSI,S1,,X,3597; 9721; 3398; 5199; 53085
6,EIF2AK1,HRI,Q9BQI3,human,eIF2-alpha,100339093.0,P83268,EIF2S1,rabbit,S51,447635,RILLsELsR______,S1,,X,3398; 5199
7,EIF2AK1,HRI,Q9BQI3,human,eIF2-alpha,1965.0,P05198,EIF2S1,human,S52,447635,MILLsELsRRRIRsI,S1,,X,3597; 9721; 3398; 5199; 53085
8,EIF2AK1,HRI,Q9BQI3,human,eIF2-alpha,1965.0,P05198,EIF2S1,human,S49,450210,IEGMILLsELsRRRI,S1,,X,NaN
9,PRKCD,PKCD,Q05655,human,syndecan-4,24771.0,P34901,Sdc4,rat,S183,449863,MKKKDEGsYDLGKKP,Syndecan,X,X,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22438,ULK2,ULK2,Q8IYT8,human,Raptor,57521.0,Q8N122,RPTOR,human,S855,3205935,QRVLDtssLtQsAPA,NaN,X,,NaN
22439,ULK2,ULK2,Q8IYT8,human,Raptor,57521.0,Q8N122,RPTOR,human,S859,2024885,DtssLtQsAPAsPtN,NaN,X,,NaN
22440,ULK2,ULK2,Q8IYT8,human,SEC16A,9919.0,O15027,SEC16A,human,S846,55578720,LAQPINFsVSLSNSH,NaN,X,,NaN
22441,ULK2,ULK2,Q8IYT8,human,PIK3C3,5289.0,Q8NEB9,PIK3C3,human,S249,35483209,ESsPILTsFELVKVP,NaN,X,,13857
22442,ULK2,ULK2,Q8IYT8,human,DENND3,22898.0,A2RUS2,DENND3,human,S472,7997148,THRRMVVsMPNLQDI,NaN,,X,NaN

In [16]:
df_humnan= df_humnan[df_humnan['SUB_ORGANISM'] == 'human']
df_humnan

,GENE,KINASE,KIN_ACC_ID,KIN_ORGANISM,SUBSTRATE,SUB_GENE_ID,SUB_ACC_ID,SUB_GENE,SUB_ORGANISM,SUB_MOD_RSD,SITE_GRP_ID,SITE_+/-7_AA,DOMAIN,IN_VIVO_RXN,IN_VITRO_RXN,CST_CAT#
7,EIF2AK1,HRI,Q9BQI3,human,eIF2-alpha,1965.0,P05198,EIF2S1,human,S52,447635,MILLsELsRRRIRsI,S1,,X,3597; 9721; 3398; 5199; 53085
8,EIF2AK1,HRI,Q9BQI3,human,eIF2-alpha,1965.0,P05198,EIF2S1,human,S49,450210,IEGMILLsELsRRRI,S1,,X,NaN
11,PRKCD,PKCD,Q05655,human,HDAC5,10014.0,Q9UQL6,HDAC5,human,S259,447995,FPLRkTAsEPNLKVR,NaN,,X,3443
12,PRKCD,PKCD,Q05655,human,PTPRA iso2,5786.0,P18433-2,PTPRA,human,S204,447612,PLLARSPsTNRKYPP,NaN,X,,NaN
13,PRKCD,PKCD,Q05655,human,Bcl-2,596.0,P10415,BCL2,human,S70,448395,RDPVARtsPLQtPAA,NaN,X,,2834; 2827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22438,ULK2,ULK2,Q8IYT8,human,Raptor,57521.0,Q8N122,RPTOR,human,S855,3205935,QRVLDtssLtQsAPA,NaN,X,,NaN
22439,ULK2,ULK2,Q8IYT8,human,Raptor,57521.0,Q8N122,RPTOR,human,S859,2024885,DtssLtQsAPAsPtN,NaN,X,,NaN
22440,ULK2,ULK2,Q8IYT8,human,SEC16A,9919.0,O15027,SEC16A,human,S846,55578720,LAQPINFsVSLSNSH,NaN,X,,NaN
22441,ULK2,ULK2,Q8IYT8,human,PIK3C3,5289.0,Q8NEB9,PIK3C3,human,S249,35483209,ESsPILTsFELVKVP,NaN,X,,13857
22442,ULK2,ULK2,Q8IYT8,human,DENND3,22898.0,A2RUS2,DENND3,human,S472,7997148,THRRMVVsMPNLQDI,NaN,,X,NaN

In [7]:
df_humnan.to_csv('../data/Kinase_Substrate_Dataset_human.csv', sep='\t', index=False)

In [11]:
pd.read_csv('../data/Kinase_Substrate_Dataset_human.csv', delimiter='\t')

,GENE,KINASE,KIN_ACC_ID,KIN_ORGANISM,SUBSTRATE,SUB_GENE_ID,SUB_ACC_ID,SUB_GENE,SUB_ORGANISM,SUB_MOD_RSD,SITE_GRP_ID,SITE_+/-7_AA,DOMAIN,IN_VIVO_RXN,IN_VITRO_RXN,CST_CAT#
0,EIF2AK1,HRI,Q9BQI3,human,eIF2-alpha,1965.0,P05198,EIF2S1,human,S52,447635,MILLsELsRRRIRsI,S1,,X,3597; 9721; 3398; 5199; 53085
1,EIF2AK1,HRI,Q9BQI3,human,eIF2-alpha,1965.0,P05198,EIF2S1,human,S49,450210,IEGMILLsELsRRRI,S1,,X,NaN
2,PRKCD,PKCD,Q05655,human,HDAC5,10014.0,Q9UQL6,HDAC5,human,S259,447995,FPLRkTAsEPNLKVR,NaN,,X,3443
3,PRKCD,PKCD,Q05655,human,PTPRA iso2,5786.0,P18433-2,PTPRA,human,S204,447612,PLLARSPsTNRKYPP,NaN,X,,NaN
4,PRKCD,PKCD,Q05655,human,Bcl-2,596.0,P10415,BCL2,human,S70,448395,RDPVARtsPLQtPAA,NaN,X,,2834; 2827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13728,ULK2,ULK2,Q8IYT8,human,Raptor,57521.0,Q8N122,RPTOR,human,S855,3205935,QRVLDtssLtQsAPA,NaN,X,,NaN
13729,ULK2,ULK2,Q8IYT8,human,Raptor,57521.0,Q8N122,RPTOR,human,S859,2024885,DtssLtQsAPAsPtN,NaN,X,,NaN
13730,ULK2,ULK2,Q8IYT8,human,SEC16A,9919.0,O15027,SEC16A,human,S846,55578720,LAQPINFsVSLSNSH,NaN,X,,NaN
13731,ULK2,ULK2,Q8IYT8,human,PIK3C3,5289.0,Q8NEB9,PIK3C3,human,S249,35483209,ESsPILTsFELVKVP,NaN,X,,13857
13732,ULK2,ULK2,Q8IYT8,human,DENND3,22898.0,A2RUS2,DENND3,human,S472,7997148,THRRMVVsMPNLQDI,NaN,,X,NaN