# Import libraries

In [16]:
# import necessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Merge the data

In [17]:
def get_kinase_ranked(rank):
    return pd.read_csv(f'../data/kinase_ranked_{rank}.csv')

In [18]:
# load the kinsase substrate humand data 
df_human = pd.read_csv('../data/Kinase_Substrate_Dataset_human.txt', delimiter='\t')
df_human.head()

,GENE,KINASE,KIN_ACC_ID,KIN_ORGANISM,SUBSTRATE,SUB_GENE_ID,SUB_ACC_ID,SUB_GENE,SUB_ORGANISM,SUB_MOD_RSD,SITE_GRP_ID,SITE_+/-7_AA,DOMAIN,IN_VIVO_RXN,IN_VITRO_RXN,CST_CAT#
0,EIF2AK1,HRI,Q9BQI3,human,eIF2-alpha,1965.0,P05198,EIF2S1,human,S52,447635,MILLsELsRRRIRsI,S1,,X,3597; 9721; 3398; 5199; 53085
1,EIF2AK1,HRI,Q9BQI3,human,eIF2-alpha,1965.0,P05198,EIF2S1,human,S49,450210,IEGMILLsELsRRRI,S1,,X,NaN
2,PRKCD,PKCD,Q05655,human,HDAC5,10014.0,Q9UQL6,HDAC5,human,S259,447995,FPLRkTAsEPNLKVR,NaN,,X,3443
3,PRKCD,PKCD,Q05655,human,PTPRA iso2,5786.0,P18433-2,PTPRA,human,S204,447612,PLLARSPsTNRKYPP,NaN,X,,NaN
4,PRKCD,PKCD,Q05655,human,Bcl-2,596.0,P10415,BCL2,human,S70,448395,RDPVARtsPLQtPAA,NaN,X,,2834; 2827

In [19]:
id_columns = [x for x in df_human.columns if 'ID' in x]
id_columns

['KIN_ACC_ID', 'SUB_GENE_ID', 'SUB_ACC_ID', 'SITE_GRP_ID']

In [20]:
column_needed = ['KINASE', 'SUBSTRATE' , 'KIN_ORGANISM', 'SUB_ORGANISM', 'SITE_+/-7_AA','SUB_MOD_RSD']

In [21]:
df_human = df_human[column_needed+id_columns]

In [22]:
df_1 = get_kinase_ranked(1)
df_2 = get_kinase_ranked(2)
df_3 = get_kinase_ranked(3)

In [23]:
data_frame_dict = {'kinase_ranked_1': df_1, 'kinase_ranked_2': df_2, 'kinase_ranked_3': df_3}

In [24]:
current_rank = 1

In [25]:
data_frame_dict[f'kinase_ranked_{current_rank}'].head()

  Uniprot Primary Accession     Protein Phosphosite     SITE_+/-7_AA ranked_1
0                A0A0B4J1R7  A0A0B4J1R7          T6  __MMATGTPESQARF     AAK1
1                A0A1B0GUI2  A0A1B0GUI2        T185  KTPTLQPTPEVHNGL     AAK1
2                A0A1B0GUI2  A0A1B0GUI2        T763  RRLSSASTGKPPLSV     AAK1
3                    A6H8Y1        BDP1       T2081  EKVKENATPTRNTIS     AAK1
4                    A6NC98       CC88B       T1366  EGREADGTGSPSPAP     AAK1

In [26]:
df_human

,KINASE,SUBSTRATE,KIN_ORGANISM,SUB_ORGANISM,SITE_+/-7_AA,SUB_MOD_RSD,KIN_ACC_ID,SUB_GENE_ID,SUB_ACC_ID,SITE_GRP_ID
0,HRI,eIF2-alpha,human,human,MILLsELsRRRIRsI,S52,Q9BQI3,1965.0,P05198,447635
1,HRI,eIF2-alpha,human,human,IEGMILLsELsRRRI,S49,Q9BQI3,1965.0,P05198,450210
2,PKCD,HDAC5,human,human,FPLRkTAsEPNLKVR,S259,Q05655,10014.0,Q9UQL6,447995
3,PKCD,PTPRA iso2,human,human,PLLARSPsTNRKYPP,S204,Q05655,5786.0,P18433-2,447612
4,PKCD,Bcl-2,human,human,RDPVARtsPLQtPAA,S70,Q05655,596.0,P10415,448395
...,...,...,...,...,...,...,...,...,...,...
13728,ULK2,Raptor,human,human,QRVLDtssLtQsAPA,S855,Q8IYT8,57521.0,Q8N122,3205935
13729,ULK2,Raptor,human,human,DtssLtQsAPAsPtN,S859,Q8IYT8,57521.0,Q8N122,2024885
13730,ULK2,SEC16A,human,human,LAQPINFsVSLSNSH,S846,Q8IYT8,9919.0,O15027,55578720
13731,ULK2,PIK3C3,human,human,ESsPILTsFELVKVP,S249,Q8IYT8,5289.0,Q8NEB9,35483209
13732,ULK2,DENND3,human,human,THRRMVVsMPNLQDI,S472,Q8IYT8,22898.0,A2RUS2,7997148

Test outermerge

In [27]:
left = ['KINASE', 'SUB_ACC_ID']
right = ['ranked_1', 'Uniprot Primary Accession']

In [28]:
df_human.merge(data_frame_dict[f'kinase_ranked_{current_rank}'], left_on=left, right_on=right, how='outer')

,KINASE,SUBSTRATE,KIN_ORGANISM,SUB_ORGANISM,SITE_+/-7_AA_x,SUB_MOD_RSD,KIN_ACC_ID,SUB_GENE_ID,SUB_ACC_ID,SITE_GRP_ID,Uniprot Primary Accession,Protein,Phosphosite,SITE_+/-7_AA_y,ranked_1
0,HRI,eIF2-alpha,human,human,MILLsELsRRRIRsI,S52,Q9BQI3,1965.0,P05198,4.476350e+05,P05198,IF2A,S52,MILLSELSRRRIRSI,HRI
1,HRI,eIF2-alpha,human,human,IEGMILLsELsRRRI,S49,Q9BQI3,1965.0,P05198,4.502100e+05,P05198,IF2A,S52,MILLSELSRRRIRSI,HRI
2,PKCD,HDAC5,human,human,FPLRkTAsEPNLKVR,S259,Q05655,10014.0,Q9UQL6,4.479950e+05,NaN,NaN,NaN,NaN,NaN
3,PKCD,PTPRA iso2,human,human,PLLARSPsTNRKYPP,S204,Q05655,5786.0,P18433-2,4.476120e+05,NaN,NaN,NaN,NaN,NaN
4,PKCD,PTPRA iso2,human,human,QAGSHSNsFRLSNGR,S180,Q05655,5786.0,P18433-2,1.869334e+09,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y2L6,FRM4B,T529,NEPDLCKTVKKKRKQ,ZAK
106115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y3C1,NOP16,S16,RRQKFGYSVNRKRLN,ZAK
106116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y4H2,IRS2,S30,NNNNNNHSVRKCGYL,ZAK
106117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y5Y5,PEX16,S183,RTLQNTPSLHSRHWG,ZAK
106118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R4GMW8,R4GMW8,S986,ASPTCTNSVSKNETH,ZAK

Export to csv

In [29]:
df_human.head()

,KINASE,SUBSTRATE,KIN_ORGANISM,SUB_ORGANISM,SITE_+/-7_AA,SUB_MOD_RSD,KIN_ACC_ID,SUB_GENE_ID,SUB_ACC_ID,SITE_GRP_ID
0,HRI,eIF2-alpha,human,human,MILLsELsRRRIRsI,S52,Q9BQI3,1965.0,P05198,447635
1,HRI,eIF2-alpha,human,human,IEGMILLsELsRRRI,S49,Q9BQI3,1965.0,P05198,450210
2,PKCD,HDAC5,human,human,FPLRkTAsEPNLKVR,S259,Q05655,10014.0,Q9UQL6,447995
3,PKCD,PTPRA iso2,human,human,PLLARSPsTNRKYPP,S204,Q05655,5786.0,P18433-2,447612
4,PKCD,Bcl-2,human,human,RDPVARtsPLQtPAA,S70,Q05655,596.0,P10415,448395

### Change column name to have suffix

In [ ]:
def column_name_change(old_column, suffix): 
    return [x + suffix for x in old_column]

In [ ]:
# change the column names for the data frame
for key, value in data_frame_dict.items():
    new_column_name = column_name_change(value.columns, f'_johnson')
    data_frame_dict[key].columns = new_column_name

In [ ]:
# change for the psp 
df_human.columns = column_name_change(df_human.columns, f'_psp')

# Creating the files

In [ ]:
for rank in [1,2,3]: 
    left = ['KINASE_psp', 'SUB_ACC_ID_psp']
    right =  [f'ranked_{rank}_johnson', 'Uniprot Primary Accession_johnson']
    merged_df = df_human.merge(data_frame_dict[f'kinase_ranked_{rank}'], left_on=left, right_on=right, how='outer')
    merged_df.to_csv(f'../data/merged_kinase_ranked_{rank}.csv')

In [2]:
pd.read_csv('../data/merged_kinase_ranked_1.csv')

C:\Users\sadia\AppData\Local\Temp\ipykernel_11244\1788442484.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('../data/merged_kinase_ranked_1.csv')

,Unnamed: 0,KINASE_psp,SUBSTRATE_psp,KIN_ORGANISM_psp,SUB_ORGANISM_psp,SITE_+/-7_AA_psp,SUB_MOD_RSD_psp,KIN_ACC_ID_psp,SUB_GENE_ID_psp,SUB_ACC_ID_psp,SITE_GRP_ID_psp,Uniprot Primary Accession_johnson,Protein_johnson,Phosphosite_johnson,SITE_+/-7_AA_johnson,ranked_1_johnson
0,0,HRI,eIF2-alpha,human,human,MILLsELsRRRIRsI,S52,Q9BQI3,1965.0,P05198,4.476350e+05,P05198,IF2A,S52,MILLSELSRRRIRSI,HRI
1,1,HRI,eIF2-alpha,human,human,IEGMILLsELsRRRI,S49,Q9BQI3,1965.0,P05198,4.502100e+05,P05198,IF2A,S52,MILLSELSRRRIRSI,HRI
2,2,PKCD,HDAC5,human,human,FPLRkTAsEPNLKVR,S259,Q05655,10014.0,Q9UQL6,4.479950e+05,NaN,NaN,NaN,NaN,NaN
3,3,PKCD,PTPRA iso2,human,human,PLLARSPsTNRKYPP,S204,Q05655,5786.0,P18433-2,4.476120e+05,NaN,NaN,NaN,NaN,NaN
4,4,PKCD,PTPRA iso2,human,human,QAGSHSNsFRLSNGR,S180,Q05655,5786.0,P18433-2,1.869334e+09,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106114,106114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y2L6,FRM4B,T529,NEPDLCKTVKKKRKQ,ZAK
106115,106115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y3C1,NOP16,S16,RRQKFGYSVNRKRLN,ZAK
106116,106116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y4H2,IRS2,S30,NNNNNNHSVRKCGYL,ZAK
106117,106117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y5Y5,PEX16,S183,RTLQNTPSLHSRHWG,ZAK
106118,106118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R4GMW8,R4GMW8,S986,ASPTCTNSVSKNETH,ZAK

In [30]:
pd.read_csv('../data/merged_kinase_ranked_2.csv')

C:\Users\sadia\AppData\Local\Temp\ipykernel_4308\1241185919.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('../data/merged_kinase_ranked_2.csv')

,Unnamed: 0,KINASE_psp,SUBSTRATE_psp,KIN_ORGANISM_psp,SUB_ORGANISM_psp,SITE_+/-7_AA_psp,SUB_MOD_RSD_psp,KIN_ACC_ID_psp,SUB_GENE_ID_psp,SUB_ACC_ID_psp,SITE_GRP_ID_psp,Uniprot Primary Accession_johnson,Protein_johnson,Phosphosite_johnson,SITE_+/-7_AA_johnson,ranked_2_johnson
0,0,HRI,eIF2-alpha,human,human,MILLsELsRRRIRsI,S52,Q9BQI3,1965.0,P05198,4.476350e+05,NaN,NaN,NaN,NaN,NaN
1,1,HRI,eIF2-alpha,human,human,IEGMILLsELsRRRI,S49,Q9BQI3,1965.0,P05198,4.502100e+05,NaN,NaN,NaN,NaN,NaN
2,2,PKCD,HDAC5,human,human,FPLRkTAsEPNLKVR,S259,Q05655,10014.0,Q9UQL6,4.479950e+05,NaN,NaN,NaN,NaN,NaN
3,3,PKCD,PTPRA iso2,human,human,PLLARSPsTNRKYPP,S204,Q05655,5786.0,P18433-2,4.476120e+05,NaN,NaN,NaN,NaN,NaN
4,4,PKCD,PTPRA iso2,human,human,QAGSHSNsFRLSNGR,S180,Q05655,5786.0,P18433-2,1.869334e+09,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103388,103388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y2L9,LRCH1,T568,ESIDPQFTIRRKMEQ,ZAK
103389,103389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y483,MTF2,S10,DSTGAGNSLVHKRSP,ZAK
103390,103390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y490,TLN1,S1643,HSRTVSDSIKKLITS,ZAK
103391,103391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y623,MYH4,T69,AKTEAGATVTVKEDQ,ZAK
103392,103392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9Y6D6,BIG1,T1564,VSEKPLDTISQKSVD,ZAK